body {
    font-family: fantasy; 
    margin: auto;
    padding-top: 15%;
    width: 50%;
}

h1 {
    font-size: 4em;
    text-align: center;
}

input {
    height: 30px;
    width: 100%;
    text-align: center;
    margin: auto;
}

.CRUDmethods {
    text-align: center;
}

button {
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border-color: blue;
    background-color: orange;
}

button:hover {
    background-color: red;
}
